.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(114,134,137,0.55);
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 70px;
  }
.sidenav a {
  float: left;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 2vw;
  font-weight: 900;
  color: rgb(43,43,43);
  display: block;
  transition: 0.05s;
  text-align: center;
}

.sidenav a:hover {
  background-color: transparent;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
}

.w3-bar-item {
  margin: 4vw;
  width: 6vw;
  height: 6vw;
  text-align: center;
}

.material-icons {
  font-size: 4vw;
}


.w3-top {
  background-color:rgb(43,43,43);
  margin-bottom: 0;
}

body,h1,h2,h3,h4,h5,h6,p {
  font-family: "Montserrat", sans-serif;
  color: #fdf4eb;
  background-color: rgb(43,43,43);
}

h1{
  background-color: transparent;
  font-size: 8vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: italic;
  text-align: left;
  padding-top: 15vw!important;
  padding-left: 2vw!important;
  padding-right: 20vw; 
}

h2{
  background-color: transparent;
  font-size: 7vw;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  padding-top: 15vw!important;
  padding-left: 2vw!important;
  padding-right: 20vw; 
}
h3 {
  background-color: transparent;
}

p {
  font-size: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
}
li{
  margin-bottom: 2rem;
}
.content-holder {
  /* background-color: rgba(221, 221, 221, 0.392); */
  /* left: 50%!important; */
  z-index: 0;
  color: #fdf4eb;
  /* top: 50%!important; */
  /* padding-top: 20vw;
  padding-left: 22vw  */
}

.jumbotron {
  background: rgb(43,43,43) url("https://images.pexels.com/photos/2190283/pexels-photo-2190283.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.386);
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  color: #fdf4eb;
  height: calc(100vh);
}
/* .container {
  background-color: rgba(143, 188, 143, 0.653);
} */
.outer  {
  background-color: rgba(143, 188, 143, 0.653);
  outline: 5px solid rgba(143, 188, 143, 0.653);
  border-radius: 1px;
  margin: auto;
}
.descr  {
  background-color: rgba(143, 188, 143, 0.653);
  outline: 5px solid rgba(143, 188, 143, 0.653);
  border-radius: 1px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1vw;
}

/* .row {
  float: left;
  margin-left: 1vw;
  margin-right: 1vw;
  padding: 0;
} */
.row1{
  margin-left: 1vw;
  align-items: center;
  height: 50vw;
  width: 96%;
  margin-left: 1vw;
  margin-right: 1vw;
  
}
.row2{
  color:#fdf4eb;
  align-items: center;
  height: 50vw;
  width: 96%;
  margin-left: 1vw;
  margin-right: 1vw;
}
hr{
  height: 1px;
  background-color: #fdf4eb;
  border: none;
  margin-left: 1vw;
  margin-right: 1vw;
  }

table#myTable.table.table-striped {
  align-self:center;
  text-align: left;
  color: #fdf4eb;
  font-size: small;
  overflow-x: scroll;
}

.Container{
  height: 50vw;
  width: 96%;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 5px;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
  background: rgb(43,43,43);
  table-layout: fixed;
  width: 100%;
}
.table th {
  padding: 0.5vw 1vw;
  border: 1px solid #fdf4eb;
  width: 20vw;
  font-size: normal;
}
.table td {
  font-size: normal;
  width: 20vw;
  height: 10vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(50, 50, 50);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fdf4eb;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-corner {
background-color: transparent;
}


@media only screen and (max-width:600px){
  .jumbotron{
    background: rgb(43,43,43) url("https://images.pexels.com/photos/7078881/pexels-photo-7078881.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    color: #fdf4eb;
    height: calc(100vh);
    }
    h1{
      background-color: transparent;
      font-size: 15vw;
      font-family: "Montserrat", sans-serif;
      font-weight: 800;
      font-style: italic;
      text-align: left;
      padding-top: 30vw!important;
      padding-left: 2vw!important;
      padding-right: 20vw; 
    }
    .Container{
      height: 150vw;
      width: 90%;
      overflow-y: auto;
      overflow-x: auto;
      border-radius: 5px;
      margin: 0 auto;
    }
    .row2{
      color:#fdf4eb;
      align-items: center;
      height: 150vw;
      width: 96%;
      margin-left: 1vw;
      margin-right: 1vw;

    }
    
  }

 