<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NYC Rental Rating</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,800&family=Lobster&family=Oleo+Script&family=Lato&family=Forum&family=Poppins:wght@100&family=Klein&family=Pacifico&family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="jquery.js"></script> 
    <link href="../static/css/style.css" rel="stylesheet">
  </head>

  <body>
        <div class="w3-top">
            <div class="w3-left home">
                <div class="position-relative" style="font-size: 5vw;margin-bottom: 0;margin-left: 1vw;"> Data</div>
            </div>
            <!-- Navbar (sit on top) -->
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="material-icons">&#xe5cd;</i></a>
                <a href="/about" onclick="closeNav()" class="w3-bar-item"><i class='material-icons'>&#xea19;</i><br>About</a>
                <a href="/data" onclick="closeNav()" class="w3-bar-item"><i class="material-icons">&#xe2c2;</i><br>Data</a>
                <a href="/charts" onclick="closeNav()" class="w3-bar-item"><i class="material-icons">&#xf092;</i><br>Charts</a>
                <a href="/test" onclick="closeNav()" class="w3-bar-item"><i class="material-icons">&#xeb9b;</i><br>Test</a>
                <a href="/team" onclick="closeNav()" class="w3-bar-item"><i class="material-icons">&#xf233;</i><br>Team</a>
                <a href="/" onclick="closeNav()" class="w3-bar-item"><i class="material-icons">&#xe88a;</i><br>Home</a>
            </div>
            <div class="w3-right w3-padding">
                <span id="bars" style="font-size:5vw;cursor:pointer;color:#fdf4eb;" onclick="openNav()" class="material-icons">&#xe5d4;</span>
            </div>
        </div>  
        <!-- Page content -->
        <p style="font-size: 2.5vw;padding-top: 9%;margin: 1vw;"> Explore this dataset of existing rentals in NYC using the filter below</p>
        <hr> 
        <div class='row'>
            <a href="#demo" data-toggle="collapse" style="color: #fdf4eb;padding-right: 0;">Filter Search<i class="material-icons" style="font-size: small;"> &#xe5c5;</i></a>
            <div id="demo" class="collapse">
            <form class="bg-light responsive">
                <!--<p><h5>Filter Search</h5></p>-->
            </form>
            <ul class= "responsive" style="list-style-type: none;margin-left:1vw;padding-left: 0;"> <!--"list-group">-->
                <!--<p><h5>Filter Search</h5></p> -->
                <br></br>
                <li class="responsive nav-item col-6 col-md">  <!--"list-group-item">-->
                    <label for="Price">Price (USD)</label>
                    <input class="float-right" type="number" placeholder="100" id="Price" />
                </li>
                <li class="responsive nav-item col-6 col-md">  <!--"list-group-item">-->
                    <label for="Accommodates">No. of people</label>
                    <input class="float-right" type="number" placeholder="2" id="Accommodates" />
                </li>
                <li class="responsive nav-item col-6 col-md">  <!--"list-group-item">-->
                    <label for="Beds">No. of beds</label>
                    <input class="float-right" type="number" placeholder="1" id="Beds" />
                </li>
                <li class="responsive nav-item col-6 col-md">  <!-- "list-group-item"> -->
                    <label for="Neighborhood">Neighborhood&nbsp;</label>
                    <input class="float-right" type="text" placeholder="Brooklyn" id="Neighborhood" />
                </li>
                <li class="responsive nav-item col-6 col-md">  <!--"list-group-item"> -->
                    <label for="Review Rating">Review Rating&nbsp;</label>
                    <input class="float-right" type="number" placeholder="5" id="Review Rating" />
                </li>
            </ul>
            </div>
        </div>
        
        <br></br>
        <div class="Container">
        
            <div class='row2'>
                
                <table id="myTable" responsive border="1" class="table table-striped">
                    <thead>
                        <tr responsive>
                            <!--<th></th>-->
                            <th>Name</th>
                            <th>Price</th>
                            <th>Security Deposit</th>
                            <th>Neighborhood</th>
                            <th>Description</th>
                            <th>Room Type</th>
                            <th>Accommodates</th>
                            <th>Bathrooms</th>
                            <th>Bedrooms</th>
                            <th>Beds</th>
                            <th>Bed Type</th>
                            <th>Cleaning Fee</th>
                            <th>Guests Included</th>
                            <th>Extra People</th>
                            <th>Minimum Nights</th>
                            <th>Maximum Nights</th>
                            <th>House Rules</th>
                            <th># of Reviews</th>
                            <th>Review Rating</th>
                            <th>Cleanliness Rating</th>
                            <th>Check-In Rating</th>
                            <th>Communication Rating</th>
                            <th>Location Rating</th>
                            <th>Value Rating</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
    
        </div>        
        <!--</div>-->
      
        <script>
            function openNav() {
            document.getElementById("mySidenav").style.width = "35vw";
            document.getElementById("bars").style.display = "none";
            }
            
            function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("bars").style.display = "block";
            }
            </script>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
        <script src="static/js/data.js"></script>
        <script src="static/js/app.js"></script>
    </body>
</html>
